.container-books {
    background-image: url(../../assets/images/bg-books-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.6rem;
}

@media (min-width: 1026px) {
    .container-books {
        background-image: url(../../assets/images/bg-books.png);
    }

    .books__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}